* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: arial;
}

body {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  background-color: lightgray;
}

.quizSection {
  text-align: center;
  padding: 50px;
}

button {
  border: none;
  background-color: #4ea2e6;
  color: white;
  border-radius: 5px;
  padding: 10px 16px 10px 16px;
  font-size: 17px;
  margin: 4px;
}

input[type=text] {
  border-radius: 5px;
  padding: 8px 16px 8px 16px;
  font-size: 17px;
}

h1 {
  min-height: 75px;
}

h2 {
  min-height: 100px;
}

h3 {
  min-height: 50px;
}